Package: com.xx.dyhook
Name: 抖音图层
Version: 2.2.8
Description: 自用 越狱食用。
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Maintainer: x✨
Author: x✨
Architecture: iphoneos-arm iphoneos-arm64 iphoneos-arm64e
